.container {
    position: relative;
    width: 100%;
    max-width: 500px;
  }
  
  .container img {
    width: 100%;
    height: auto;
  }
  
  .container .btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #ec0a68;
    color: white;
    font-size: 16px;
    padding: 16px 30px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
  }
  
  .container .btn:hover {
    background-color: black;
    color: white;
  }

  .primeiradiv {
    text-align: center;
  }

  .botaofinal {
    margin-bottom: 20px;
  }